html,body{
    padding: 0 10% 0 10%;
    font-family: 'Courier New', Courier, monospace;
    background: #aaaa33;
}
.content {
    color: #226644;
    font-family: 'Courier New', Courier, monospace;
    display: flow-root;
}

.banner {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.new-post {
    float: right;
}


.sidebar {
    padding: 15px;
    float: left;
}

.content {
    display: flow-root;
    padding: 35px;
}