html,body{
    padding: 0 3% 0 3%;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('ground_Sand_1.jpg');
    color: #000000;
}
.content {
    background-color: #000000;
    color: #55cc00;
    font-family: 'Courier New', Courier, monospace;
    display: flow-root;
}

.banner {

    background-color: #c0c0c0;
    background:#C0C0C0;
    border-width:3px;
    border-color:#FFFFFF #808080 #808080 #FFFFFF;
    border-style:solid;
    color: #000000;
    padding: 64px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.new-post {
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  padding: 2px;
  font: size 16px;
  font-weight:bold;
  font-family:Tahoma;
  text-align:center;
}


.sidebar {
    background-color: #a0aaaa;
    padding: 15px;
    float: left;
}

.content {
    display: flow-root;
    padding: 35px;
}
.about {
    background-color: #c0c0c0;
    border-width:3px;
    border-color:#FFFFFF #808080 #808080 #FFFFFF;
    border-style:solid;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    padding: 64px;
    text-align: center;
}